/*
Volovar.com stylesheet
author: Mike Volovar, www.volovar.com */

/* Remove browser css (see http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/) */
	
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, video,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	}

:focus {
	outline: 0;
	}
html, body {
	min-height: 100%;
	}
ol, ul {
	list-style: none;
	}
	
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	text-align: left;
	font-weight: normal;
	}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}
a {
	text-decoration: none;
	}
img, object, video, embed {
	max-width: 100%;
	}


/* site css
---------------------*/
body {
	min-width: 100%;
	font-size: 100%; /*16px*/
	font-family: calluna, Georgia, serif;
	color: #000;
	background: #636c83 url(img/grid.png) 50% 0;
	background-color: rgba(185,155,111,0.9);/*enhanced*/
	}
	
/*typography*/
p {
	line-height: 1.5em; /*24px*/
	margin-bottom: 1.5em;
	}
h1, h2, h3, h4, h5, h6 {
	font-family: museo-sans, Helvetica, Arial, sans-serif;
	line-height: 1.5em;
	text-transform: uppercase;
	}
h1 {
	font-size: 2.25em;/* 1.875em; /*30px*/
	}
h2, h3 {
	font-size: 1.125em;/* 1.875em; /*30px*/
	}
a {
	color: #000;
	border-bottom: 1px dotted;
	-webkit-transition: color linear .25s, box-shadow linear .25s, text-shadow linear .25s;
	-moz-transition: color linear .25s, box-shadow linear .25s, text-shadow linear .25s;
	transition: color linear .25s, box-shadow linear .25s, text-shadow linear .25s;
	}
a:hover, a:focus {
	color: #d15029;
	color: rgba(209,80,41,0.9);/*enhanced*/
	}
.wrap {
	width: 720px;
	margin: 0 auto;
	background: #ede4d8;
	background: rgba(255,255,255,0.7);
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px; 
	}
.wrap .wrap-inner {
	padding: 0 30px;
	}
.min-height {
	min-height: 480px;
	}

/*header
---------------------*/
.header {
	padding: 20px 0 1.2em;
	-moz-user-select: none;
  	-khtml-user-select: none;
	}
.logo {
	float: left;
	width: 33.3%;/*300px;*/
	}
.logo a {
	float: left;
	height: 38px;
	display: block;
	background: url(img/v-logo2.png) no-repeat top left;
	border: none;
	font-size: 1.25em;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: museo-sans, Helvetica, Arial, sans-serif;
	line-height: 1em;
	color: #000;
	color: rgba(0,0,0,0.85);/*enhanced*/
	text-shadow: 0px 1px 0px rgba(0,0,0,0);
	padding: 22px 0 0 60px;
	}
.logo a:hover,
.logo a:active {
	color: #d15029;
	color: rgba(209,80,41,0.9);/*enhanced*/
	text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
	background-position: bottom left;
	}
.logo a img {
	height: 0;
	}


/*--navigation-----*/

.nav ul li {
	width: 16.65%; /*150px;*/
	float: left;
	margin-top: 22px;
	}
.nav ul li a {
	display: block;
	font-size: 1.125em;
	line-height: 1.125em;
	font-family: museo-sans, Helvetica, Arial, sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #000;
	color: rgba(0,0,0,0.85);/*enhanced*/
	border: none;
	text-shadow: 0px 1px 0px rgba(0,0,0,0);
	}
.nav ul li a:hover, .nav ul li a.active, .nav ul li a:focus {
	color: #d15029;
	color: rgba(209,80,41,0.9);/*enhanced*/
	text-shadow: 0px 1px 0px rgba(0,0,0,0.6);
	}
		
/*content
---------------------*/
.content {
	position: relative;
	}
.content .small {
	width: auto;
	}
.content .small p {
	font-size: 1.25em;
	padding: 1.5em 0;
	width: 60%;
	float: left;
	}
.content .small .column {
	width: 30%;
	float: right;
	margin: 0;
	}
.headline {
	padding: 15px 0;
	text-align: center;
	margin-bottom: 45px;
	border-top: 2px solid rgba(0,0,0,0.3);
	border-bottom: 2px solid rgba(0,0,0,0.3);
	background: rgba(0,0,0,0.5);
	color: #fff;
	text-shadow: 1px 2px 0px rgba(0,0,0,0.5);
	}
.headline h1 {
	font-weight: bold;
	letter-spacing: 1px;
	}
.headline h2 {
	font-size: 1.125em;
	text-transform: uppercase;
	}
.headline a {
	color: #fff;
	}
.headline a:hover, .headline a:focus {
	color: #d15029;
	color: rgba(209,80,41,0.9);/*enhanced*/
	}
.col-one {
	clear: both;
	width: 600px;
	background: yellow;
	height: 300px;
	float: left;
	}
.col-two {
	width: 300px;
	height: 300px;
	background: blue;
	float: right;
	}
.column {
	width: 47%;
	margin-right: 3%;
	float: left;
	}
.column .intro {
	font-size: 1.125em;
	}
.left {
	float: left;
	}
.right {
	float: right;
	}
.no-margin {
	margin: 0;
	}
.full {
	width: auto;
	clear: both;
	}
.full img {
	margin: 0 0 30px;
	box-shadow: 8px 8px 15px rgba(0,0,0,0.3);
	}
	
/*work detail links*/
ol.highlights {
	margin: 15px 0;
	}
ol.highlights li {
	float: left;
	width: 31%;
	margin-right: 3.5%;
	margin-bottom: 30px;
	}	
ol.highlights li.right {
	margin-right: 0;
	}
ol.highlights li div.highlight {
	position: relative;
	overflow: hidden;
	border: 15px solid #333;
	background: #333;
	border-color: rgba(0,0,0,0.4);
	background: rgba(0,0,0,0.4);
	-webkit-border-radius: 5px; /*browser specific*/
	-moz-border-radius: 5px; /*browser specific*/
	border-radius: 5px;
	}
ol.highlights li div.highlight a {
	color: #fff;
	color: rgba(255,255,255,0.9);
	border-bottom: none;
	}
ol.highlights li div.highlight a:hover {
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
	}
ol.highlights li div.highlight a span {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 96%;
	padding: 10px;
	background-color: #000;
	background-color: rgba(0,0,0,0.75);
	-webkit-transition: color linear .2s;
	-moz-transition: color linear .2s;
	transition: color linear .2s;
	}
ol.highlights li div.highlight-btn img {
	max-width: 100%;
	margin: 0;
	-webkit-border-radius: 5px; /*browser specific*/
	-moz-border-radius: 5px; /*browser specific*/
	border-radius: 5px;
	-webkit-transition: opacity linear .2s; /*browser specific*/
	-moz-transition: opacity linear .2s; /*browser specific*/
	transition: opacity linear .2s;
	}
ol.highlights li div.highlight a:hover img {
	opacity: 0.5;
	}
ol.highlights li div.highlight a:hover span {
	color: #d15029;
	}

/*external sites*/
ol.external-links {
	margin: 15px 0;
	}
ol.external-links li {
	float: left;
	width: 25%;
	margin-bottom: 15px;
	}
ol.external-links li div.mid-btn {
	position: relative;
	overflow: hidden;
	padding: 0 15px;
	width: auto;
	}
ol.external-links li div.mid-btn a {
	display: block;
	margin: 0 auto;
	width: 90px;
	height: 90px;
	-webkit-border-radius: 50%; /*browser specific*/
	-moz-border-radius: 50%; /*browser specific*/
	border-radius: 50%;
	border: none;
	overflow: hidden;
	background: #000 url(img/link_images.png) no-repeat 0 0;
	}
ol.external-links li div.mid-btn a span {
	opacity: 0;
	display: inherit;
	font-family: museo-sans, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	text-align: center;
	padding: 35px 0;
	color: #fff;
	background: #d15029;
	-webkit-border-radius: 50%; /*browser specific*/
	-moz-border-radius: 50%; /*browser specific*/
	border-radius: 50%;
	-webkit-transition: opacity linear .2s; /*browser specific*/
	-moz-transition: opacity linear .2s; /*browser specific*/
	transition: opacity linear .2s;
	}
ol.external-links li div.mid-btn a.fsl {
	background-position: 0 -180px;
	}
ol.external-links li div.mid-btn a.fsl span {
	padding: 30px 0 20px;
	}
ol.external-links li div.mid-btn a.oddsends {
	background-position: 0 -270px;
	}
ol.external-links li div.mid-btn a.beh {
	background-position: 0 -90px;
	}
ol.external-links li div.mid-btn img {
	height: 0;
	}
ol.external-links li div.mid-btn a:hover span,
ol.external-links li div.mid-btn a:active span {
	opacity: 1;
	}

/*social media links*/
ol.small-links {
	margin: 0 0 15px;
	float: right;
	}
ol.small-links li {
	float: left;
	margin-right: 15px;
	}
ol.small-links li a {
	display: block;
	width: 45px;
	height: 45px;
	border: none;
	-webkit-border-radius: 50%; /*browser specific*/
	-moz-border-radius: 50%; /*browser specific*/
	border-radius: 50%;
	background: #000 url(img/icons.png) no-repeat 0 0;
	-webkit-transition: background-color linear .2s;
	-moz-transition: background-color linear .2s;
	transition: background-color linear .2s;
	}
ol.small-links li a:hover {
	background-color: #d15029;
	background-color: rgba(209,80,41,0.9);/*enhanced*/
	}
ol.small-links li a.twitter {
	background-position: 0 -45px;
	}
ol.small-links li a.linkedin {
	background-position: 0 -90px;
	}
ol.small-links li a.pdf {
	background-position: 0 -135px;
	}
ol.small-links li a.txt {
	background-position: 0 -180px;
	}
ol.small-links li a.twitter:hover {
	background-position: right -45px;
	}
ol.small-links li a.zerply:hover {
	background-position: right 0;
	}
ol.small-links li a.linkedin:hover {
	background-position: right -90px;
	}
ol.small-links li a.pdf:hover {
	background-position: right -135px;
	}
ol.small-links li a.txt:hover {
	background-position: right -180px;
	}
ol.small-links li a span {
	display: none;
	}
ol.left {
	float: left;
	} 

/*work info*/
ul.details {
	position: absolute;
	right: -30px;
	top: 420px;
	width: 240px;
	padding: 15px 0;
	box-shadow: -3px 3px 10px rgba(0,0,0,0.6);
	background: #000;
	background: rgba(0,0,0,0.8);
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-top-left-radius: 15px;
	-moz-border-bottom-left-radius: 15px;
	-moz-border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	}
ul.details li {
	padding: 7px 15px;
	color: #fff;
	}
ul.details li a {
	color: #fff;
	}
ul.details li a:hover {
	color: #d15029;
	color: rgba(209,80,41,0.9);/*enhanced*/	
	}

/*contact*/
.contact-form {
	width: 100%;
	font-size: 100%;
	line-height: 1.5em;
	}
.contact-form fieldset {
	margin-bottom: 10px;
	position: relative;
	}
.contact-form fieldset.first {
	margin-top: 0;
	}
.contact-form fieldset label {
	display: block;
	font-family: museo-sans, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	}
.contact-form fieldset input, .contact-form fieldset textarea {
	width: 100%;
	font: 1em calluna, Georgia, serif;
	padding: 7px;
	background: #fff;
	border: 1px solid rgba(0,0,0,0.3);
	-webkit-border-radius: 50%; /*browser specific*/
	-moz-border-radius: 50%; /*browser specific*/
	border-radius: 3px;
	}
.contact-form fieldset textarea {
	max-width: 100%;
	}
.contact-form fieldset input:focus, .contact-form fieldset textarea:focus {
	background: #dedede;
	background: rgba(0,0,0,0.1);
	box-shadow: inset 2px 2px 3px rgba(0,0,0,0.3);
	border-bottom: 1px solid rgba(255,255,255,0.9);
	border-right: 1px solid rgba(255,255,255,0.9);
	}
.contact-form fieldset input[type="submit"] {
	width: 60px;
	height: 30px;
	padding: 3px 7px;
	float: right;
	font-family: museo-sans, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	-webkit-transition: all linear .2s; /*browser specific*/
	-moz-transition: all linear .2s; /*browser specific*/
	transition: all linear .2s;
	}
.contact-form fieldset input[type="submit"]:hover,
.contact-form fieldset input[type="submit"]:focus
.contact-form fieldset input[type="submit"]:active {
	color: #fff;
	cursor: pointer;
	background: #d15029;
	background: rgba(209,80,41,0.9);/*enhanced*/	
	}
.emailError {
	color: red;
	font-size: 0.9em;
	}
.correction {
	color: red;
	font-family: museo-sans, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	margin-bottom: 15px;
	font-size: 0.9em;
	}

/*footer
---------------------*/

.footer {
	clear: both;
	padding: 15px 0 0;
	margin: 15px 0;
	border-top: 2px solid rgba(0,0,0,0.3);
	}
.footer p {
	float: left;
	margin-top: 12px;
	}
	
	
/*--self-clearing floats */

.group:after {
	content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
    }


/*media queries*/

@media all {
	.wrap {
		width: auto;
		max-width: 960px;
		}
	.logo a em {
		display: none;
		}
}

@media (max-width: 720px) {
	.logo {
		width: 20%;
		}
	.nav ul li {
		width: 20%;
		}
	ol.highlights li {
		width: 45%;
		margin-right: 4.5%;
		margin-bottom: 15px;
		}
	ol.highlights li.right {
		margin-right: 4.5%;
		}
}

@media (min-width: 200px) and (max-width: 480px) {
	h1, h2, h3, h4, h5, h6 {
		line-height: 1.25em;
		}
	.full img {
		margin-bottom: 15px;
		}
	ul.details {
		position: inherit;
		width: auto;
		}
}

@media (min-width: 200px) and (max-width: 600px) {
	.wrap .wrap-inner {
		padding: 0;
		}
	.min-height {
		min-height: inherit;
		}
	.header {
		padding-top: 8px;
		}
	.logo {
		float: none;
		height: 60px;
		width: 60px;
		margin: 0 auto 10px;
		}
	.logo a {
		float: none;
		display: block;
		}
	.headline h2 a {
		display: block;
		width: auto;
		margin-bottom: 5px;
		border-bottom: none;
		}
	.nav ul {
		text-align: center;
		}
	.nav ul li {
		display: inline;
		float: none;
		width: auto;
		margin: 0;
		padding: 4px 8px 2px;
		}
	.nav ul li a {
		display: inline;
		padding: 8px 3px;
		}
	.content {
		padding: 0 30px;
		}
	.column {
		width: 100%;
		margin: 0;
		}
	.contact-form {
		float: none;
		width: 82%;
		margin: 15px auto 0;
		}
	ol.highlights li {
		width: auto;
		margin-right: 0;
		float: none;
		}
	ol.highlights li.right {
		margin-right: 0;
		}
	ol.highlights li div.highlight {
		height: 75px;
		}
	ol.highlights li div.highlight a {
		display: block;
		width: 100%;
		height: 75px;
		background: #fff url(img/btn-images.jpg) no-repeat 0 -15px;
		}
	ol.highlights li div.highlight a.js {
		}
	ol.highlights li div.highlight a.cordially {
		background-position: 0 -115px;
		}
	ol.highlights li div.highlight a.aeo {
		background-position: 0 -215px;
		}
	ol.highlights li div.highlight a.ccc {
		background-position: 0 -315px;
		}
	ol.highlights li div.highlight a.dun-wel {
		background-position: 0 -415px;
		}
	ol.highlights li div.highlight a span {
		width: 96%;
		}
	ol.highlights li div.highlight-btn img {
		height: 0;
		}
	ol.external-links li {
		float: left;
		width: 50%;
		}
	ul.details {
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		}
	.footer p {
		float: none;
		text-align: center;
		width: 100%;
		}
}

@media (min-width: 721px) {
	.logo a em {
		display: inline;
		}
}

@media (-webkit-min-device-pixel-ratio: 2) {
	.logo a {
		background-image: url(img/v-logo-2x.png);
		background-size: 60px;
		}
	ol.external-links li div.mid-btn a {
		background-image: url(img/link_images-2x.png);
		background-size: 100%;
		}
	ol.small-links li a {
		background-image: url(img/icons-2x.png);
		background-size: 200%;
		}
}



/* IE Stuff */
/* PNG

* html #selector { /* for IE<6 */
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='img/image.png'); background-image: none; background-repeat: no-repeat; background-color: transparent;*/
	/*}*/

/* self-clear floats

* html .group { /* IE6 */
	/*height: 1%;*/
	/*}*/
*:first-child+html .group { /* IE7 */
	min-height: 1px;
	}

/* IE6 max-width */

img {
	/* Resize the image for IE6 */
	width: expression(this.width > 500 ? 500: true);
	}