/*
** volovar.com stylesheet
** author: Mike Volovar
** www.volovar.com 2013
*/

@import url("reset.less");
@import url("mixins.less");

body {
    min-width: 100%;
    font-size: 100%;// 16px
    font-family: calluna, Georgia, serif;
    color: #000;
    background: #b99b6f url("img/grid.png") 50% 0;
}

em {
    font-style: italic;
}

//
// typography
//
p {
    line-height: 1.5em;// 24px
    margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: @sans-serif;
    line-height: 1.5em;
    text-transform: uppercase;
}

h1 {
    font-size: 2.25em;// 30px
}

h2, h3 {
    font-size: 1.125em;// 30px
}

a {
    color: #000;
    border-bottom: 1px dotted;
    text-decoration: none;
    .transition(color linear .1s~',' box-shadow linear .1s~',' text-shadow linear .1s);

    &:hover,
    &:focus {
        color: #d6613e;
        color: rgba(209,80,41,0.9);
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

.no-margin {
    margin: 0;
}

.wrap {
    width: 720px;
    margin: 0 auto;
    background: #ede4d8;
    background: rgba(255,255,255,0.7);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    .wrap-inner {
        padding: 0 30px;
    }
}

.min-height {
    min-height: 480px;
}

//
// header
//
.header {
    padding: 20px 0 1.2em;
    -moz-user-select: none;
    -khtml-user-select: none;
}
.logo {
    float: left;
    width: 33.3%; // 300px;
    height: 60px;
    display: block;
    background: url("img/v-logo2.png") no-repeat top left;
    border: none;
    font-size: 1.25em;
    font-weight: 500;
    text-transform: uppercase;
    font-family: @sans-serif;
    color: #000;
    color: rgba(0,0,0,0.85);
    text-shadow: 0px 1px 0px rgba(0,0,0,0);

    &:hover,
    &:active {
        color: #d6613e;
        color: rgba(209,80,41,0.9);
        text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
        background-position: bottom left;
    }

    img {
        height: 0;
    }
}

.logo-title {
    display: inherit;
    padding: 3px 0 0 64px;
}

//
// navigation
//
.nav ul li {
    width: 16.65%; // 150px;
    float: left;
    margin-top: 22px;

    a {
        display: block;
        font-size: 1.125em;
        line-height: 1.125em;
        font-family: @sans-serif;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #000;
        color: rgba(0,0,0,0.85);
        border: none;
        text-shadow: 0px 1px 0px rgba(0,0,0,0);

        &:hover,
        &.active,
        &:focus {
            color: #d6613e;
            color: rgba(209,80,41,0.9);
            text-shadow: 0px 1px 0px rgba(0,0,0,0.6);
        }
    }
}

//
//content
//
.content {
    position: relative;

    .small {
        width: auto;

        p {
            font-size: 1.25em;
            padding: 1.5em 0;
            width: 60%;
            float: left;
        }

        .column {
            width: 30%;
            float: right;
            margin: 0;
        }
    }
}

.headline {
    padding: 15px 0;
    text-align: center;
    margin-bottom: 45px;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    background: #555;
    background: rgba(0,0,0,0.5);
    color: #fff;
    text-shadow: 1px 2px 0px rgba(0,0,0,0.5);

    h1 {
        font-weight: bold;
        letter-spacing: 1px;
    }

    h2 {
        font-size: 1.125em;
        text-transform: uppercase;
    }

    a {
        color: #fff;

        &:hover,
        &:focus {
            color: #d6613e;
            color: rgba(209,80,41,0.9);
        }
    }
}

.col-one {
    clear: both;
    width: 600px;
    background: yellow;
    height: 300px;
    float: left;
}

.col-two {
    width: 300px;
    height: 300px;
    background: blue;
    float: right;
}

.column {
    width: 47%;
    margin-right: 3%;
    float: left;

    .intro {
        font-size: 1.125em;
    }
}


.full {
    width: auto;
    clear: both;

    img {
        margin: 0 0 30px;
        .box-shadow(8px 8px 15px rgba(0,0,0,0.3));
        width: 100%;
    }
}

//
// work detail links
//
.link-list {
    margin: 15px 0;
    text-align: justify;

    li {
        display: inline-block;
        width: 31%;
        margin-bottom: 30px;

        .highlight-btn {
            background: #555;
            background: rgba(0,0,0,0.4);
            .border-radius(5px);
            border: 15px solid #555;
            border-color: rgba(0,0,0,0.4);
            color: #fff;
            color: rgba(255,255,255,0.9);
            display: block;
            position: relative;
            overflow: hidden;

            &:hover {
                text-shadow: 0px 1px 0px rgba(0,0,0,0.3);

                img {
                    opacity: 0.5;
                }

                span {
                    color: #d6613e;
                }
            }

            span {
                display: block;
                padding: 10px 0;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: #000;
                background-color: rgba(0,0,0,0.75);
                text-align: start;
                text-indent: 15px;
                .transition(color linear .2s);
            }

            img {
                display: block;
                margin: 0;
                max-width: 100%;
                .transition(opacity linear .2s);
            }
        }

        .mid-btn {
            width: 90px;
            height: 90px;
            background: #000 url("img/link-images.png") no-repeat 0 0;
            border: none;
            .border-radius(50%);
            display: block;
            margin: 0 auto;
            text-indent: -9999em;
            .transition(background-color linear .2s);

            &:hover {
                background-color: #d6613e;
            }

            &.fsl {
                background-position: 0 -180px;
            }

            &.oddsends {
                background-position: 0 -270px;
            }

            &.github {
                background-position: 0 -91px;
            }

            &.vimeo:hover {
                background-color: #1ab7ea;
            }
        }
    }

    &:after {
        content: "";
        display: inline-block;
        width: 100%;
    }
}

.external-links li {
    width: 24%;
    margin-bottom: 15px;
}

//
// social media links
//
.small-links {
    margin: 0 0 15px;
    float: right;

    li {
        float: left;
        margin-right: 15px;

        a {
            display: block;
            width: 45px;
            height: 45px;
            background: #000 url("img/icons.png") no-repeat 0 0;
            border: none;
            .border-radius(50%);
            .transition(background-color linear .2s);

            &:hover {
                background-color: #d6613e;
                background-color: rgba(209,80,41,0.9);
            }

            &.dribbble {
                &:hover {
                    background-color: #ea4c89;
                }
            }

            &.twitter {
                background-position: 0 -45px;

                &:hover {
                    background-color: #00aced;
                }
            }

            &.zerply {
                background-position: 0 -135px;

                &:hover {
                    background-color: #9dbc7a;
                }
            }

            &.linkedin {
                background-position: 0 -90px;
            }

            span {
                display: none;
            }
        }
    }
}

//
//work info
//
.details {
    position: absolute;
    right: -30px;
    bottom: 10px;
    width: 280px;
    padding: 10px 0;
    .box-shadow(-3px 3px 10px rgba(0,0,0,0.6));
    background: #000;
    background: rgba(0,0,0,0.8);
    .border-radius(10px 0 0 10px);
    line-height: 1.35em;

    li {
        padding: 7px 15px;
        color: #fff;

        a {
            color: #fff;

            &:hover {
                color: #d6613e;
                color: rgba(209,80,41,0.9);
            }
        }
    }
}

//
// contact
//
.contact-form {
    width: 100%;
    font-size: 100%;
    line-height: 1.5em;

    fieldset {
        margin-bottom: 10px;
        position: relative;

        &.first {
            margin-top: 0;
        }

        label {
            display: block;
            font-family: @sans-serif;
            text-transform: uppercase;
        }

        input,
        textarea {
            width: 100%;
            font: 1em calluna, Georgia, serif;
            padding: 7px;
            background: #fff;
            border: 1px solid rgba(0,0,0,0.3);
            .border-radius(3px);
            outline: none;

            &:focus {
                background: #dedede;
                background: rgba(0,0,0,0.1);
                .box-shadow( inset 2px 2px 3px rgba(0,0,0,0.3));
                border-bottom: 1px solid rgba(255,255,255,0.9);
                border-right: 1px solid rgba(255,255,255,0.9);
            }
        }

        textarea {
            max-width: 100%;
        }

        input[type="submit"] {
            width: 60px;
            height: 30px;
            padding: 3px 7px;
            float: right;
            font-family: @sans-serif;
            text-transform: uppercase;
            .transition(all linear .2s);

            &:hover,
            &:focus
            &:active {
                color: #fff;
                cursor: pointer;
                background: #d6613e;
                background: rgba(209,80,41,0.9);
            }
        }
    }
}

.emailError {
    color: red;
    font-size: 0.9em;
}

.correction {
    color: red;
    font-family: @sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 0.9em;
}

//
//footer
//
.footer {
    clear: both;
    padding: 15px 0 0;
    margin: 15px 0;
    border-top: 2px solid rgba(0,0,0,0.3);

    p {
        float: left;
        margin-top: 12px;
    }
}

// IE Stuff
@import url("ie.less");
// for IE<6
//* html #selector {
//filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='img/image.png'); background-image: none; background-repeat: no-repeat; background-color: transparent;
//}

// IE6 max-width
//img {
// Resize the image for IE6
//    width: expression(this.width > 500 ? 500: true);
//}
@import url("media-queries.less");