@sans-serif: museo-sans, "Helvetica Neue", Arial, sans-serif;
@serif: calluna, Georgia, "Times New Roman", serif;

.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.border-radius(@placeholder: '') {
    -moz-border-radius: @arguments;
    -webkit-border-radius: @arguments;
    border-radius: @arguments;
}

.box-shadow(@placeholder: '') {
    -moz-box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
    box-shadow: @arguments;
}

.transition(@placeholder: '') {
    -moz-transition: @arguments;
    -ms-transition: @arguments;
    -webkit-transition: @arguments;
    transition: @arguments;
}