ul {
  list-style: none;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
#topHeader,
.headline h2,
.no-print,
.footer {
  display: none;
}
.link-list {
  text-align: justify;
}
.link-list li {
  display: inline-block;
  width: 31%;
}
.link-list:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.text-list li {
  margin-bottom: 30px;
}
.text-list.link-list li {
  margin-bottom: 15px;
}
