@media (min-width: 540px) {
  p,
  ul {
    font-size: 1.25em;
  }
  h1,
  .alpha {
    font-size: 1.625em;
  }
  .section {
    width: 84%;
  }
}
@media (min-width: 720px) {
  p,
  ul {
    font-size: 1.425em;
  }
  h1,
  .alpha {
    font-size: 1.8em;
  }
  .section {
    width: 72%;
  }
  .work-entry {
    float: left;
    padding: 1em 1.5% 1em 0;
    width: 31.5%;
  }
}
@media (min-width: 1200px) {
  p,
  ul {
    font-size: 1.625em;
  }
  h1,
  .alpha {
    font-size: 2em;
  }
  .section {
    width: 66%;
  }
}
@media (min-width: 1900px) {
  .section {
    width: 60%;
  }
}
