@media (max-width: 660px) {
    .wrapper-block {
        padding: 10px 16px;
    }

    .content-block.resume-block {
        padding: 0 16px;
    }

    .layout-block {
        width: 50%;

        .title {
            padding: 18px 16px;
        }
    }
}

@media (max-height: 400px) and (orientation: landscape) {
    .layout-block {
        min-height: 160px;
        width: 33.333%;
    }
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .logo {
        background-image: url("img/logo-2x.png");
        background-size: 60px;
    }

    .nav-button_inner {
        .ellipsis {
            background-image: url("img/more-btn-2x.png");
            background-size: 40px;
        }

        .close {
            background-image: url("img/more-btn-2x.png");
            background-size: 40px;
        }
    }

    .link-list li .mid-btn {
        background-image: url("img/link-images-2x.png");
        background-size: 90px;
    }

    .small-links li a {
        background-image: url("img/icons-2x.png");
        background-size: 45px;
    }
}

@media print {
    @import url("print.less");
}