body{background:transparent;color:#000;font-size:12px;}
a{border:0;color:inherit;text-decoration:none;}
.print-only{display:block;}
li.print-only{display:list-item;}
.no-print{display:none;}
.wrapper-block{padding-bottom:0.25em;}
.content-block.resume-block{width:800px;}
.section-block{margin-bottom:18px;}
.item-block{margin-bottom:8px;}.item-block:last-child{margin-bottom:0;}
